//--------------------------------------------------------------
// Burger Mixin Toggle Button
//--------------------------------------------------------------

// Vendor prefixes
$sass-burger-add-vendor-prefixes: true !default;

// Burger
@mixin burger($width: rem(30), $height: rem(5), $gutter: rem(3), $color: $color-black, $border-radius: 0, $transition-duration: 0.3s) {

	$burger-height: $height !global;
	$burger-gutter: $gutter !global;

	margin-bottom: $height + $gutter;
	margin-top: $height + $gutter;
	position: relative;
	user-select: none;

	@if $sass-burger-add-vendor-prefixes {
		-moz-user-select: none;
		-ms-user-select: none;
		-webkit-user-select: none;
	}

	// 1. Fixes jagged edges in Firefox, see issue #10.
	&,
	&::before,
	&::after {
		background-color: $color;
		display: block;
		height: $height;
		outline: rem(1) solid transparent; // 1
		transition-duration: $transition-duration;
		transition-property: background-color, transform;
		width: $width;

		@if $border-radius != 0 {
			border-radius: $border-radius;
		}

		@if $sass-burger-add-vendor-prefixes {
			-moz-transition-property: background-color, -moz-transform;
			-o-transition-property: background-color, -o-transform;
			-webkit-transition-property: background-color, -webkit-transform;
		}

		@if $sass-burger-add-vendor-prefixes {
			-moz-transition-duration: $transition-duration;
			-o-transition-duration: $transition-duration;
			-webkit-transition-duration: $transition-duration;
		}
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
	}

	&::before {
		top: -($height + $gutter);
	}

	&::after {
		top: $height + $gutter;
	}
}


// Select parts of the burger
@mixin burger-parts {
	&,
	&::before,
	&::after {
		@content;
	}
}

@mixin burger-top {
	&::before {
		@content;
	}
}

@mixin burger-middle {
	& {
		@content;
	}
}

@mixin burger-bottom {
	&::after {
		@content;
	}
}


// Burger animations
@mixin burger-to-cross($color: auto) {

	& {
		background-color: transparent;
	}

	@if ($color != auto) {
		&::before,
		&::after {
			background-color: $color;
		}
	}

	&::before {
		@if $sass-burger-add-vendor-prefixes {
			-moz-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
			-ms-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
			-o-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
			transform: translateY($burger-gutter + $burger-height) rotate(45deg);
		}
		transform: translateY($burger-gutter + $burger-height) rotate(45deg);
	}

	&::after {
		@if $sass-burger-add-vendor-prefixes {
			-moz-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
			-ms-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
			-o-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
			-webkit-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
		}
		transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
	}
}
